

body {
    background-image: url(../img/fazendinha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font: normal 14pt Arial;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    
    
    
}

header {
    font: bolder 26pt Arial;
    flex-direction: column;
    color: rgb(255, 253, 253);
    margin-top: 100px;
}

section {
    background-color: rgba(255, 255, 255, 0.863);
    width: 500px;
    height: 500px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    
    

}

#foto {
    width: 430px;
    height: 270px;
}

div > input {
    display: block;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    border-radius: 3px;
    margin-bottom: 8px;

}

div > button {
    margin-left: 54px;
    margin-bottom: 50px;
}

footer {
    color: white;
    font: italic 10pt arial;
}
